.crypto-converter {
    width: 100%;
    overflow-x:auto;
    border-collapse: collapse;

}

.currency-head, td  {
    padding: 9px;
    text-align: center;
    
}

.currency-head {
    background-color: rgb(153, 153, 159);
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.currency-head.active {
    background-color: whitesmoke;
} 

#cryptoTable {
    border-bottom: 1px solid #ccc; 
    margin: 0;
    padding: 0;
}

#cryptoTable tr {
    border-bottom: 1px solid #ccc;
    width: 100%;
}
 
td:first-child{
   text-align:left;  
}


td:last-child{
   text-align:right;
   position: relative;
   right: -35%;
} 

