.service-sec {
  margin: 0;
  padding: auto;
}

.our-service {
  background-color: rgb(17, 17, 17);
  margin-top: 75px;
  height: 1200px;
}

.services {
  text-align: center;
  padding-top: 5%;
  color: whitesmoke;
}

.service-header {
  font-size: 30px;
}

.service-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  row-gap: 5%;
  column-gap: -30px !important;
  position: relative;
  top: 90px;
  left: 50px;
  margin: 0;
  padding: 0;
  
}

.service-img img {
  display: block;
  height: 210px;
  width: 80%;
  margin: 0;
  padding: 0;
}

.img-layout {
  display: flex;
  gap: 15px;
  position: relative;
  bottom: 93px;
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.5);
  padding: 16px 0;
  width: 80%;
  text-transform: uppercase;
}

.service-fonts,
.service-title {
  position: relative;
  left: 35px;
  font-size: 20px;
  cursor: pointer;
}

.service-fonts {
  font-size: 50px;
  font-weight: 20px;
}

.service-title {
  position: relative;
  top: 13px;
}

.service-para {
  background: whitesmoke;
  width: 80%;
  height: 200px;
  margin-top: -23%; 
}

.s-p {
  font-size: 13px;
  padding: 23px 20px;
  position: relative;
  left: 10px;
  display: flex;
  gap: 15px;
}

.explore-service {
  position: relative;
  left: 64px;
  top: -20px;
}

@media (max-width: 1020px) {
    .our-service {
      height: 3600px;
    }

    .service-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 170px;
        width: 110%;
    }

    .service-img img {
        height: 260px;
    }

    .service-para {
        position: relative;
        top: 140px;
    }
}

@media (max-width: 960px) {
    .service-container {
        display: flex;
        gap: 60px;
        padding-left: 5px;
        width: 100%;
     }

    .service-para {
        position: relative;
        top: 100px;
    }
}

@media (max-width: 880px) {

    .service-container {
        display: flex;
        gap: 60px;
        padding-left: 5px;
        width: 100%;
     }

    .service-para {
        position: relative;
        top: 70px;
    }
}


@media (max-width: 780px) {
    .our-service {
      height: 3250px;
    }

     .service-container {
        display: flex;
        gap: 70px;
        padding-left: 5px;
        width: 100%;
     }
        

    .service-para {
        position: relative;
        top: 30px;
    }
}

